body{
    font-family: 'Hind Siliguri', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}

.content {
    background-color: #DEBB72;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero {
    color: white;
    text-align: center;
    width: 100%;
    background-image: url("/images/yogabanana.jpg");
    background-size: cover;
    height: 38em;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}
.item:hover{
    background-color: #EBCC9A;
}
.item {
    background-color: #008ED7;
    width: 20%;
    height: 4em;
}

a{
    text-decoration: none;
}

.imglol {
    animation: spin 4s linear infinite ;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.footer {
    background-color: #008ED7;
    display: flex;
}
